.containerb{
	position:absolute;
	width:150px;
	height: 150px;
	margin-left: 400px;
	margin-top: 200px;
}

.triangleb1{
position: absolute;
width: 0;
height: 0;
border-style: solid;
border-width: 150px 25px 0 0;
border-color: #8ac3ff transparent transparent transparent;
}
.triangleb2{
position: absolute;
width: 0;
height: 0;
border-style: solid;
border-width: 0 0 150px 25px;
border-color: transparent transparent #8ac3ff transparent;
margin-left: 2px;

}

.triangleb3{
position: absolute;
width: 0;
height: 0;
border-style: solid;
border-width: 20px 0 0 40px;
border-color: transparent transparent transparent #8ac3ff;
margin-left:29px;
margin-top: 3px;
	
}
.triangleb4{
position: absolute;
width: 0;
height: 0;
border-style: solid;
border-width: 20px 0 0 57px;
border-color: transparent transparent transparent #8ac3ff;
margin-left:29px;
margin-top: 68px;
	
}
.triangleb5{
position: absolute;
width: 0;
height: 0;
border-style: solid;
border-width: 20px 40px 0 0;
border-color: #8ac3ff transparent transparent transparent;
margin-left: 29px;
margin-top: 128px;
	
}
.triangleb6{
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 19px 14px 28px;
    border-color: transparent transparent #8ac3ff transparent;
    margin-left: 29px;
    margin-top: -2px;
    transform: rotate(27deg);
	
}
.triangleb7{
position: absolute;
width: 0;
height: 0;
border-style: solid;
border-width: 0 57px 20px 0;
border-color: transparent #8ac3ff transparent transparent;
margin-left: 29px;
margin-top: 66px;
	
}
.triangleb8{
	position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 28px 14px 19px;
    border-color: transparent transparent #8ac3ff transparent;
    margin-left: 29px;
    margin-top: 139px;
    transform: rotate(153deg);

	
}

.triangleb9{
position: absolute;
width: 0;
height: 0;
border-style: solid;
border-width: 0 25px 50px 0;
border-color: transparent #8ac3ff transparent transparent;
margin-left: 61px;
	
}
.triangleb10{
position: absolute;
width: 0;
height: 0;
border-style: solid;
border-width: 0 0 50px 25px;
border-color: transparent transparent #8ac3ff transparent;
margin-left: 61px;
margin-top: 100px
	
}
.triangleb11{
position: absolute;
width: 0;
height: 0;
border-style: solid;
border-width: 22px 25px 0 0;
border-color: #8ac3ff transparent transparent transparent;
margin-top: 52px;
margin-left: 88px;
	
}

.triangleb12{
position: absolute;
width: 0;
height: 0;
border-style: solid;
border-width: 22px 0 0 25px;
border-color: transparent transparent transparent #8ac3ff ;
margin-top: 77px;
margin-left: 88px;
	
}
.triangleb13{
position: absolute;
width: 0;
height: 0;
border-style: solid;
border-width: 50px 0 0 25px;
border-color: transparent transparent transparent #8ac3ff;
margin-left: 88px;
}

.triangleb14{
position: absolute;
width: 0;
height: 0;
border-style: solid;
border-width: 50px 25px 0 0;
border-color: #8ac3ff transparent transparent transparent;
margin-left: 88px;
margin-top: 100px;
}

.trianglea9{
position:absolute;
width: 0;
height: 0;
border-style: solid;
border-width: 20px 0 0 65px;
border-color: transparent transparent transparent #fde8ff;
margin-left: 29px;
margin-top: 87px;
}

.trianglea10{
position:absolute;
width: 0;
height: 0;
border-style: solid;
border-width: 0 65px 20px 0;
border-color: transparent  #fde8ff transparent transparent;
margin-left: 29px;
margin-top: 85px;

.containera:hover{

  position:absolute;
  margin-top: 300px;
  margin-left: 30px;
  width:200px;
  height:200px;
  transform: scale(0.7);

  
  border-radius: 50%;
  background-color: #ff1774;
  border-style: dotted;
  border-width: 3px;
  border-color: white;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
 
	
}

.containera:nth-child(1) {animation-duration: 4s;}
.containera:nth-child(2) {animation-duration: 5s;}
.containera:nth-child(3) {animation-duration: 3s;}

@keyframes floating {
	0% {
		transform: translateY(0%);	
	}
	50% {
		transform: translateY(15%);	
	}	
	100% {
		transform: translateY(0%);
	}			
}
@-webkit-keyframes floating {
	0% {
		-webkit-transform: translateY(0%);	
	}
	50% {
		-webkit-transform: translateY(15%);	
	}	
	100% {
		-webkit-transform: translateY(0%);
	}
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}