.sqaure-m1{

	width: 170px;
	height: 97px;
	background-color: #f9c4e8;
	margin-left: 0;
	margin-right: 0;
	margin-top:0;
	margin-bottom: 10px;
}
.sqaure-m2{
    position: absolute;
	width: 170px;
	height: 97px;
	background-color: #dc5e49;
	margin-left: 180px;
    margin-right: 10px;
    margin-top: -214px;
    margin-bottom: 10px;
}
.sqaure-m3{
    position: absolute;
	width: 170px;
	height: 97px;
	background-color: #f1b2a8;
	margin-left: 180px;
    margin-right: 10px;
    margin-top: -107px;
    margin-bottom: 10px;
}

.sqaure-s{
    position: absolute;
	width: 50px;
	height: 50px;
	background-color: #ffffff;
	margin-left: 150px;
    margin-right: 0px;
    margin-top: -138px;
    margin-bottom: 0px;
}

.sqaure-l{
    position: absolute;
    width: 260px;
    height: 205px;
    background-image:
    linear-gradient(
      to right, 
     #fdffde, #fbc5ed);
    margin-left: 361px;
    margin-right: 0;
    margin-top: -215px;
    margin-bottom: 0px;

}

.circle{
    position: absolute;
    width: 204px;
    height: 204px;
    border-radius: 50%;

    background-image:
    linear-gradient(
      to right, 
     #e9ec24, #c30c95);
    opacity: 0.6;
    
    margin-left: 258px;
    margin-right: 0;
    margin-top: -215px;
    margin-bottom: 0px;
    mix-blend-mode: overlay;
    
}

