  


.position-fixed{
	position:fixed;
	top:0px;
	left:0px;
}


#container {
width:100%;
height: 100%;
position:relative;
top:0;
left:0;

}

#container-1 {
display: flex;
flex-direction: row;
flex-wrap: wrap;
}




.square-transparent {

	width: 1980px;
	height: 177px;
	margin:20px;
	background-image:
    linear-gradient(
      to right, 
     #ffc6a6, #ffbfef);
    opacity: 0.6;
    

}

.square-transparent2 {

	width: 1980px;
	height: 88px;
	margin:20px;
	
	background-image:
    linear-gradient(
      to right, 
     #ffc6a6, #ffbfef);
    

}


.circle1{
  width:40px;
  height:40px;
  margin-top:20px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;
  background-color: #c195f480;
  border-radius: 50%;
  box-shadow: 5px 5px 15px #4a494963;

}

.circle1:hover{
  width:40px;
  height:40px;
  margin-top:20px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;
  background-color: #fff9a2;

  border-radius: 50%;
  box-shadow: 5px 5px 15px #4a494963;
  transform: skew(-20deg);
  transition:all 0.2s;


}



