#container-change{
display: flex;
flex-wrap: wrap;
flex-direction: row;

}

.picColor{
		width:1600px;
		height:50px;
		background-color: #ff9a9aba;
		margin-bottom: 20px;
		mix-blend-mode: color-burn;
		
		}

	


.picColor2
{
		width:50px;
		height:1000px;
		background-color: #ff9a9aba;
		margin-top: 0;
		margin-bottom: 0;
		margin-right: 20px;
	}


#container-change{
display: flex;
flex-wrap: wrap;
flex-direction: row;
margin-top:-1000px;
position:fixed;
}

#container-change2{
display: flex;
flex-wrap: wrap;
flex-direction: row;
margin-top:0px;
width:100%;
height:100%;
mix-blend-mode: color-burn;
position: absolute;

}

#container-3{
display: flex;
flex-wrap: wrap;
flex-direction: row;
margin-top:0px;
width:100%;
height:100%;
mix-blend-mode: color-burn;
position: absolute;


}



.circle{
    display:inline-block;
    position:relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-style: dotted;
    border-color:#ffffff;

    
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;  

    -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out; 
  transition: width 0.5s ease-out; 
  transition: height 0.5s ease-out;  
  animation: lightSpeedIn 1s;


}

.circle:hover {
    display:inline-block;
    position:relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #ff71f9;
    border-style: dotted;
    border-width:5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    mix-blend-mode: overlay;
     animation: bounce 1s;
    
}

.circle2{
    display:inline-block;
    position:relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-style: dotted;
    border-color:#ffffff;

    
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;  
    -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out; 
  transition: width 0.5s ease-out; 
  transition: height 0.5s ease-out;  
  animation: lightSpeedIn 1s;
  

}

.circle2:hover {
    display:inline-block;
    position:relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #49f1e7c9;
    border-style: dotted;
    border-width:5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    mix-blend-mode: overlay;
    animation: bounce 1s;
    
}

@keyframes lightSpeedIn {
  from {
    -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }

  60% {
    -webkit-transform: skewX(20deg);
    transform: skewX(20deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: skewX(-5deg);
    transform: skewX(-5deg);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}



