
#container1{

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
}
#container2{

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
}
#container3{

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
}
#container4{

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
}

.rotate1 {
  
  transform: rotate(20deg);
  mix-blend-mode: multiply;
  position: relative;
left:40px;
top:40px;
width:100px;
height: 100px;
margin:30px;
background-image:
    linear-gradient(
      to right, 
     #ffc6a6, #ffbfef);
    opacity: 0.6;;

 }

 .rotate2 {
  ]
  transform: rotate(40deg);
  mix-blend-mode: multiply;
  position: relative;
left:40px;
top:40px;
width:100px;
height: 100px;
margin:30px;
background-image:
    linear-gradient(
      to right, 
     #ffc6a6, #ffbfef);
    opacity: 0.6;;

 }

 .rotate3 {
  
  transform: rotate(60deg);
  mix-blend-mode: multiply;
  position: relative;
left:40px;
top:40px;
width:100px;
height: 100px;
margin:30px;
background-image:
    linear-gradient(
      to right, 
     #ffc6a6, #ffbfef);
    opacity: 0.6;;
 }

 .rotate4 {
  
  transform: rotate(80deg);
  mix-blend-mode: multiply;
  position: relative;
left:40px;
top:40px;
width:100px;
height: 100px;
margin:30px;
background-image:
    linear-gradient(
      to right, 
     #ffc6a6, #ffbfef);
    opacity: 0.6;

 -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;

 }

 .rotate4:hover{
  
  transform: rotate(80deg);
  mix-blend-mode: multiply;
  position: relative;
left:40px;
top:40px;
width:100px;
height: 100px;
margin:30px;
background-image:
    linear-gradient(
      to right, 
     #ffc6a6, #ffbfef);
    opacity: 0.6;

  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

 }


 .circle{
 left:0px;
 top:0px;
 width:180px;
 height: 180px;
 border-radius:50%;
 
 mix-blend-mode: color-dodge;
 isolation: isolate;

 }

 .circle-2{
 left:0px;
 top:0px;
 width:170px;
 height: 170px;
 border-radius:50%;
 background-color:#ffffff;
 mix-blend-mode: lighten;
 isolation: isolate;